
/* ----------------------------------------------------------------

	banner.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Banner
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for banner. Thanks!
-----------------------------------------------------------------*/


.banner {
    position: relative;

    .banner-wrap {
        padding-left: 4.375rem;
        padding-right: 4.375rem;
    }

    &#about-banner {
        background-position: right;
        background-size: cover;
        padding: 5.375rem 0;

        @include media-breakpoint-up(lg) {
            padding: 15rem 0 3.5rem;
        }
    }
}