
/* ----------------------------------------------------------------

	footer.scss

-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Footer
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for footer. Thanks!
-----------------------------------------------------------------*/

#footer-main {
	padding-top: 2rem;
    padding-bottom: 1rem;
}

#footer-bottom {
	padding-bottom: 3rem;
}
