
/*-----------------------------------------------------------------------------------

	Form: form.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Form Styles
-----------------------------------------------------------------*/
.subscribe {
    padding: 6rem 0;
}

.contact-btn {
    color: #545453;
    background-image: linear-gradient(180deg, #f3d3d3, #e5b4b3);
}