
/* ----------------------------------------------------------------

	header.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Header
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for header. Thanks!
-----------------------------------------------------------------*/


#header {
	position: relative;	

	// Transparent header
	&.transparent-header {
		background-color: transparent;
		z-index: 199;

		@include media-breakpoint-up(lg) {
			background-color: transparent;

			& + #content,
			& + #error-404 {
				position: relative;
				top: -$header-height;
				margin-bottom: -$header-height;
			}
		}			
	}
}


/* ----------------------------------------------------------------
	Sticky Header
-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Logo
-----------------------------------------------------------------*/
#header-wrap {
	padding-top: 1rem;
    padding-bottom: 1rem;

	@include media-breakpoint-down(xl) {
		padding-left: 1.875rem;
		padding-right: 1.875rem;
	}
}

.navbar-brand {
	img {
		width: 7rem;
		height: auto;
		z-index: 1;
	}
}


/* ----------------------------------------------------------------
	Primary Menu
-----------------------------------------------------------------*/

#primary-menu {
	.nav-link {
		color: $primary-menu-font-color;
		font-family: $primary-menu-font;
		font-size: $primary-menu-font-size;
		font-weight: $primary-menu-font-weight;		
		letter-spacing: $primary-menu-font-spacing;
		text-transform: $primary-menu-font-tt;

		&:hover {
			color: $theme-color;
		}
	}
}


/* ----------------------------------------------------------------
	Mega Menu
-----------------------------------------------------------------*/

// Please ignore mega menu now 


/* ----------------------------------------------------------------
	Top Buttons
-----------------------------------------------------------------*/


#top-btns {
	z-index: 1;

	ul {
		li {
			white-space: nowrap;
		}
	}

	.nav-link {
		font-family: $body-font;
		color: $white;		
		font-size: 1rem; 
		line-height: 1;
		z-index: 1;
		text-transform: uppercase;

		&:hover {
			color: $theme-color;
		}

		[data-cart-items] {
			position: relative;
			display: inline-block;

			&::before {
				content: attr(data-cart-items);
				position: absolute;
				top: -.5rem;
				right: -.75rem;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 19px;
				height: 19px;
				font-size: 11px;
				font-weight: 500;
				border-radius: 50%;
				border: 1px solid #fff;
				background-color: #362e29;
				color: #fff;
			}
		}	
	}
}


/* ----------------------------------------------------------------
	Top Links
-----------------------------------------------------------------*/

#top-links {
	a.nav-link {
		color: #565553;
		display: block;
		font-family: $body-font;	
		font-weight: 600;
		text-transform: uppercase;

		@include media-breakpoint-up(lg) {
			padding: 0;	
		}

		&:hover {
			color: $theme-color;
		}
	}

	.dropdown-toggle {
		&::after {
			margin-left: .75em;
		}
	}

	.dropdown-menu {
		background: $white;
		border: 0;
		top: $topbar-line-height;
		left: 0;
		width: 100%;		
		margin: 0;
		border-top: 3px solid $theme-color;

		@include border-radius(0);

		@include box-shadow(0 0 5px -1px rgba($black, 0.2));
		
		@include media-breakpoint-up(lg) {
			width: 8.75rem;
		}

		a.dropdown-item {
			color: $heading-color;
			height: 2.25rem;
			line-height: 2.25rem;
			font-size: 0.75rem;				
			padding: 0 0.75rem;

			&:hover {
				color: $theme-color;
			}
		}

		img {
			display: inline-block;
			position: relative;
			top: -1px;
			width: 1rem;
			height: 1rem;
			margin-right: 0.25rem;
		}
	}
}

/* ----------------------------------------------------------------
	Top Infos
-----------------------------------------------------------------*/

#top-infos {
	margin-left: 2rem;

	ul {
		li {
			a {
				font-family: Gilroy-bold;
				font-weight: 700;
				font-size: $h5-font-size;
				color: #362e29;
			}
		}
	}
}


/* ----------------------------------------------------------------
	Top Social
-----------------------------------------------------------------*/
#top-social {
    ul {
		margin-bottom: -4rem;

		li {
			margin-bottom: 5.5rem;
			transform: rotate(90deg);

			a {
				font-family: Gilroy-semibold;
        		font-size: 0.875rem;
				color: $dark;
				text-decoration: none;
				text-transform: uppercase;
	
				&:hover {
					color: $theme-color;
				}
			}
		}

		@include media-breakpoint-down(lg) {
			display: flex;
			gap: 1rem;
			margin: 0;

			li {
				transform: rotate(0);
				margin-bottom: 0;
			}
		}
    }

	@include media-breakpoint-up(lg) {
		position: absolute;
		top: 7rem;
		right: 2rem;
	}
}


/* ----------------------------------------------------------------
	Top product
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Top Search
-----------------------------------------------------------------*/




/* ----------------------------------------------------------------
	Top Cart
-----------------------------------------------------------------*/




/* ----------------------------------------------------------------
	Top Account
-----------------------------------------------------------------*/






