
/* ----------------------------------------------------------------

	pagetitle.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Page Title
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for page title. Thanks!
-----------------------------------------------------------------*/

#page-title {
	.title {
		letter-spacing: 0.1rem;
		line-height: 1.1;
		font-weight: 300;
	}

	.sub-title {
		font-family: Haigrast;
		color: $theme-color;
		font-size: 4.5rem;
		margin-top: -1rem;
	}
}