
/* ----------------------------------------------------------------

	Service.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Service
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for service pages. Thanks!
-----------------------------------------------------------------*/

.service-list {
    ul {
        li {
            margin-bottom: 1.875rem;

            .menu-item {
                font-weight: 500;
                font-size: 1.5rem;
                color: #3c3c3c;
            }

            .list-item {
                color: $dark;

                &:hover {
                    font-weight: 600;
                }
            }
        }
    }
}

.service-price {
    font-family: 1.125rem;
    font-weight: 500;
}