
/*-----------------------------------------------------------------------------------

	Shortcodes: headings.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Heading Styles
-----------------------------------------------------------------*/


/* Heading Block - with Subtitle
-----------------------------------------------------------------*/

.heading-block { 
	margin-bottom: 2.875rem; 
	position: relative;
	
	.title {
		letter-spacing: 0.1rem;
		line-height: 1.2;
		font-weight: 300;
	}

	.sub-title {
		font-family: Haigrast;
		color: $theme-color;
		font-size: 3.25rem;
		margin-top: -1rem;

		@include media-breakpoint-down(lg) {
			margin: 0 !important;
		}
	}
}