
/*-----------------------------------------------------------------------------------

	Shortcodes: icon-box.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Icon Box Styles
-----------------------------------------------------------------*/


.icon-box {
    display: block;
	color: #362e29;
	margin-bottom: 0.5rem;

	.icon-wrapper {
		font-size: 1.25rem;
	}	

	.icon-header {
		font-size: 1.125rem;
		font-weight: 600;
	}
}