.team-social {
    font-size: 1.25rem;

    a {
        margin-right: 0.5rem;
    }
}

.team-rating {
    i {
        color: #3d3d3d;
        margin-right: 0.35rem;
    }

    span {
        font-size: 1.125rem;
        font-weight: 600;
    }
}