/*-----------------------------------------------------------------------------------

	Shortcodes: timeline.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Timeline Styles
-----------------------------------------------------------------*/
.event {
    @include media-breakpoint-up(lg) {
        position: relative;
        top: -5rem;
    }
}

.event-title {
    font-family: Haigrast;
    color: $theme-color;
}